{% extends "base.html" %}

{% block content %}
<p>Our aim with this work is to create a reliable 
    (e.g., passive voice judgments are consistent), valid (e.g., passive voice judgments are accurate), flexible 
    (e.g., texts can be assessed at different units of analysis), replicable 
    (e.g., the approach can be performed by a range of research teams with varying levels of computational expertise), 
    and scalable way (e.g., small and large collections of texts can be analyzed) to capture passive voice from different 
    corpora for social and psychological evaluations of text.</p>
    <hr>
    <div class="alert alert-light" role="alert">
        <p>
            Disclaimer: This website is provided solely for the purpose of 
            testing this package. As a result, it can handle a few thousand
            (up to more than 10,000) one-line sentences or a few hundred paragraphs in each file.
         </p>
  </div>
<h5>Single sentence analysis</h5>
<form action="#" method="post">
    <p>Please enter your sentence in the box bellow: </p>
    <p><input type="text" name="sent" aria-label="sent"></p>
    <p><input  type="submit" name="submit" value="Analyze sample"></p>
</form>

{% if mode=='sample_text' %}

        <table>
            <tr>
                {% for col in column_names %}
                <th style="background-color: #74c5c1;">{{ col }}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                        {{ row_ }}
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

    
{% endif %}
<hr>
<!----------------------------------------- corpus level ------------------------------------->




<h5>Corpus-level analysis</h5>

<form action="#" method="post" enctype="multipart/form-data">
    <p>Please choose a file (CSV or XLSX) for this analysis and write the name of the column that needs to be
        analyzed in the box bellow: </p>
    <label> The column name (case-sensitive): <input type="text" name="column_name"></label>
    <label>Your file: <input type="file" name="sample_df"></label>
    <p><input type="submit" name="submit" value="Analyze corpus-level"></p>
</form>

{% if mode=='corpus_level' %}

    <a class="btn btn-info" role="button" href="{{url_for('static', filename='outputs/output.csv')}}">
  Download
</a>

<table>
    <tr>
        {% for col in column_names %}
        <th style="background-color: #74c5c1;">{{ col }}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <td>
                {{ row_ }}
        </td>
        {% else %}
        <td>{{row_}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}

</table>



{% endif %}


<!----------------------------------------- sentence level ------------------------------------->

<hr>
<h5>Sentence-level analysis</h5>

<form action="#" method="post" enctype="multipart/form-data">
    <p>Please choose a file (CSV or XLSX) for this analysis and write the name of the column that needs to be
        analyzed in the box bellow: </p>
    <label> The column name (case-sensitive): <input type="text" name="column_name"></label>
    <label>Your file: <input type="file" name="sample_df"></label>
    <p><input type="submit" name="submit" value="Analyze sentence-level"></p>
</form>

{% if mode=='sentence_level' %}

<a class="btn btn-info" role="button" href="{{url_for('static', filename='outputs/output.csv')}}">
    Download
  </a>
        <table>
            <tr>
                {% for col in column_names %}
                <th style="background-color: #74c5c1;">{{ col }}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                        {{ row_ }}
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

    
     
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <ul class=flashes>
            <li>{{ message }}</li>
            </ul>
            {% endfor %}
        {% endif %}
        {% endwith %}
{% endif %}



{% endblock %}