table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #74c5c1;
    text-align: center;
    padding: 8px;
    background-color: #74c5c1;
}

tr:nth-child(even) {
    background-color: #dddddd;
}