element.style {
}
@media screen and (min-width: 42em) and (max-width: 64em)
.project-name {
    font-size: 2.25rem;
}
.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(
120deg
, #155799, #159957);
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}